@import "../../common-usage/common-interface";

.input-group-submit {
  margin: 0;
  float: right;
}

.checkbox-group {
  input {
    float: left;
    width: 18px;
    height: 20px;
  }

  .form-group {
    width: 30px;
  }
}
